certifi==2017.7.27.1
chardet==3.0.4
contextlib2==0.5.5
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11.4
django-allauth==0.33.0
django-bootstrap-form==3.3
django-cors-headers==2.1.0
django-debug-toolbar==1.8
django-extensions==1.9.0
django-redis==4.8.0
django-rest-fuzzysearch==0.5.0
django-rest-offlinesync==0.5.0
djangorestframework==3.6.4
djangorestframework-jwt==1.11.0
drf-nested-routers==0.90.0
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.1
idna==2.6
oauthlib==2.0.2
psycogreen==1.0
psycopg2==2.7.3.1
PyJWT==1.5.2
python3-openid==3.1.0
pytz==2017.2
raven==6.1.0
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
six==1.10.0
sqlparse==0.2.3
urllib3==1.22
