{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{% block head_title %}{% endblock %} - Boomerang</title>

      <link rel="icon" href="{% static "boomerang/favicon.ico" %}">

      <link rel="stylesheet" href="{% static "rest_framework/css/bootstrap.min.css" %}" type="text/css">
      <link rel="stylesheet" href="{% static "boomerang/css/bootstrap-tweaks.css" %}" type="text/css">
      <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" type="text/css">
      <link rel="stylesheet" href="{% static "bootstrap-social/css/bootstrap-social.css" %}" type="text/css">
    {% endblock head %}
  </head>

  <body>
    <div class="navbar navbar-static-top navbar-inverse" role="navigation">
      <div class="container">
        <span>
          <a class='navbar-brand' href='{% url 'index' %}'>Boomerang</a>
        </span>
        <ul class="nav navbar-nav pull-right">
          {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ user.username }}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'account_email' %}"><span class="glyphicon glyphicon-cog"></span>&nbsp;{% trans "Settings" %}</a></li>
                <li><a href="{% url 'account_logout' %}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;{% trans "Log Out" %}</a></li>
              </ul>
            </li>
          {% else %}
            <li><a href="{% url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;{% trans "Log In" %}</a></li>
            <li><a href="{% url 'account_signup' %}"><span class="glyphicon glyphicon-check"></span>&nbsp;{% trans "Sign Up" %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="container">
      {% if messages %}
        {% for message in messages %}
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}
    </div>

    {% block javascript %}
      <script src="{% static "rest_framework/js/jquery-1.12.4.min.js" %}" type="text/javascript"></script>
      <script src="{% static "rest_framework/js/bootstrap.min.js" %}" type="text/javascript"></script>
    {% endblock javascript %}
  </body>
</html>
